Repository abdusalam57/fullstack-auth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, next lint

test: add ThemeToggle tests
  .husky/pre-commit
  jest.config.ts
  package-lock.json
  package.json
  src/app/layout.tsx
  src/features/theme-toggle/index.ts
  src/features/themeToggle/index.ts
  src/features/themeToggle/ui/themeToggle.test.tsx
  src/features/themeToggle/ui/themeToggle.tsx
Due: prettier --write, next lint

chore: migrate from npm to pnpm
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  Dockerfile
  eslint.config.mjs
  package-lock.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, next lint

fix
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix (#7)
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: add PR checks workflow
  .github/workflows/pr-checks.yml
  Dockerfile
Due: none

fix
  .github/workflows/pr-checks.yml
  .lintstagedrc.json
Due: prettier --write

fix(ci): correct pnpm installation
  .github/workflows/pr-checks.yml
Due: none

docs: update README.md
  README.md
Due: prettier --write

feat: add login form
  jest.config.ts
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/app/auth/login/page.tsx
  src/app/page.tsx
  src/features/auth/cardWrapper/index.ts
  src/features/auth/cardWrapper/ui/cardWrapper.tsx
  src/features/auth/login/index.ts
  src/features/auth/login/model/index.ts
  src/features/auth/login/model/schema.ts
  src/features/auth/login/model/types.ts
  src/features/auth/login/ui/loginForm.tsx
  src/shared/ui/card.tsx
  src/shared/ui/form.tsx
  src/shared/ui/index.ts
  src/shared/ui/input.tsx
  src/shared/ui/label.tsx
Due: prettier --write, next lint

feat: add register form
  src/app/auth/register/page.tsx
  src/features/auth/register/index.ts
  src/features/auth/register/model/index.ts
  src/features/auth/register/model/schema.ts
  src/features/auth/register/model/types.ts
  src/features/auth/register/ui/registerForm.tsx
Due: prettier --write, next lint

feat: add reset password form
  .env.example
  .gitignore
  package.json
  pnpm-lock.yaml
  src/app/auth/reset-password/page.tsx
  src/app/layout.tsx
  src/features/auth/card-wrapper/index.ts
  src/features/auth/card-wrapper/ui/card-wrapper.tsx
  src/features/auth/cardWrapper/index.ts
  src/features/auth/register/ui/registerForm.tsx
  src/features/auth/reset-password/index.ts
  src/features/auth/reset-password/model/index.ts
  src/features/auth/reset-password/model/schema.ts
  src/features/auth/reset-password/model/types.ts
  src/features/auth/reset-password/ui/resetPasswordForm.tsx
  src/features/theme-toggle/index.ts
  src/features/theme-toggle/ui/themeToggle.test.tsx
  src/features/theme-toggle/ui/themeToggle.tsx
Due: prettier --write, next lint

fix
  src/features/auth/login/ui/loginForm.tsx
  src/features/auth/register/ui/registerForm.tsx
  src/features/auth/reset-password/ui/resetPasswordForm.tsx
Due: prettier --write, next lint

feat: add new password form
  .github/workflows/pr-checks.yml
  src/app/auth/new-password/page.tsx
  src/features/auth/new-password/index.ts
  src/features/auth/new-password/model/index.ts
  src/features/auth/new-password/model/schema.ts
  src/features/auth/new-password/model/types.ts
  src/features/auth/new-password/ui/newPasswordForm.tsx
  src/features/auth/reset-password/model/schema.ts
Due: prettier --write, next lint

refactor
  .dockerignore
  .husky/pre-push
  .lintstagedrc.json
  Dockerfile
  package-lock.json
  pnpm-lock.yaml
  src/features/auth/login/model/index.ts
  src/features/auth/login/model/schema.ts
  src/features/auth/login/model/types.ts
  src/features/auth/login/ui/loginForm.tsx
  src/features/auth/new-password/model/index.ts
  src/features/auth/new-password/model/schema.ts
  src/features/auth/new-password/model/types.ts
  src/features/auth/new-password/ui/newPasswordForm.tsx
  src/features/auth/register/model/index.ts
  src/features/auth/register/model/schema.ts
  src/features/auth/register/model/types.ts
  src/features/auth/register/ui/registerForm.tsx
  src/features/auth/reset-password/model/index.ts
  src/features/auth/reset-password/model/schema.ts
  src/features/auth/reset-password/model/types.ts
  src/features/auth/reset-password/ui/resetPasswordForm.tsx
Due: prettier --write, next lint

remove docker
  package.json
Due: prettier --write

feat: add social component
  package-lock.json
  package.json
  src/features/auth/card-wrapper/ui/card-wrapper.tsx
  src/features/auth/login/ui/loginForm.tsx
  src/features/auth/social/index.ts
  src/features/auth/social/ui/social.tsx
Due: prettier --write, next lint

feat: add Prisma and PostgreSQL setup
  .env.example
  jest.config.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  setupTests.ts
Due: prettier --write, next lint

feat: add registration functionality
  package-lock.json
  package.json
  src/actions/index.ts
  src/actions/register.action.ts
  src/app/api/auth/[...nextauth]/route.ts
  src/app/providers/root-provider.tsx
  src/app/providers/toast-provider.tsx
  src/auth.ts
  src/features/auth/login/ui/loginForm.tsx
  src/features/auth/new-password/ui/newPasswordForm.tsx
  src/features/auth/register/ui/registerForm.tsx
  src/features/auth/reset-password/ui/resetPasswordForm.tsx
  src/schemas/index.ts
  src/schemas/login.schema.ts
  src/schemas/newPassword.schema.ts
  src/schemas/register.schema.ts
  src/schemas/resetPassword.schema.ts
  src/shared/lib/index.ts
  src/shared/lib/prisma.ts
  src/shared/ui/index.ts
  src/shared/ui/sonner.tsx
Due: prettier --write, next lint

fix
  package-lock.json
  package.json
Due: prettier --write

feat: add login func
  .env.example
  src/actions/index.ts
  src/actions/login.action.ts
  src/app/settings/page.tsx
  src/auth.ts
  src/features/auth/login/ui/loginForm.tsx
  src/features/user/settings/index.ts
  src/features/user/settings/ui/settingsForm.tsx
Due: prettier --write, next lint

feat: add middleware
  src/auth.config.ts
  src/auth.ts
  src/middleware.ts
  src/shared/config/routes.ts
  src/shared/types/next-auth.d.ts
Due: prettier --write, next lint

feat: add Google OAuth login
  .env.example
  src/auth.config.ts
  src/auth.ts
  src/features/auth/social/ui/social.tsx
Due: prettier --write, next lint

feat: add email verification
  .env.example
  package-lock.json
  package.json
  prisma/schema.prisma
  src/actions/index.ts
  src/actions/login.action.ts
  src/actions/register.action.ts
  src/actions/verifyEmail.action.ts
  src/app/auth/verify-email/page.tsx
  src/features/auth/verify-email/index.ts
  src/features/auth/verify-email/ui/verifyEmail.tsx
  src/shared/config/routes.ts
  src/shared/lib/index.ts
  src/shared/lib/mail.ts
  src/shared/lib/token.ts
  src/shared/ui/index.ts
  src/shared/ui/loading.tsx
Due: prettier --write, next lint

Path conditions:
  prettier --write: (any of: *.{css,json,md}) or (any of: *.{ts,tsx,mjs})
  next lint: any of: *.{ts,tsx,mjs}
